@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #272E30;
  color: #E8E8E8;
  font-family: 'Pontano Sans';
  font-size: 18px;
  line-height: 1.5;
}

.container {
  margin: 2%;
  background-color: #3A4547;
}
.navbar-container {
  margin: 2%;
}
.logo {
  font-weight: bold;
  font-size: 20px;
}
ul {
  display: flex;
}

li {
  list-style: none;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: #E8E8E8;
}
a:hover {
  color: #e8e8e8ce;
}
.header {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
}

